@font-face {
  font-family: 'Kumbh Sans';
  src: url('/assets/fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf');
}

$fc-grey-b: hsl(229, 23%, 23%);
$fc-grey-n: hsl(227, 10%, 46%);
$fc-grey-s: hsl(0, 0%, 59%);
$bc-cyan: hsl(185, 75%, 39%);

* {
  margin: 0;
  padding: 0;    
}

html {
  font-family: 'Kumbh Sans';
  font-size: 18px;
}

/* 360 x 640 (small mobile) */
body {
  height: 100vh;
  background-image: url('../assets/images/bg-pattern-top.svg'), url('../assets/images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-color: $bc-cyan;
  background-position: right calc(100vw * 0.43) bottom calc(100vh * 0.43), left calc(100vw * 0.43) top calc(100vh * 0.43);
  display: flex;
  flex-direction: column;
}

main {
  width: 300px;
  height: 350px;
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../assets/images/bg-pattern-card.svg') no-repeat;
  background-color: white;

  & img {
    width: 90px;
    margin-top: 85px;
    border: 5px solid white;
    border-radius: 50%;
  }

  & h1 {
    font-size: 1rem;
    color: $fc-grey-b;
    margin-top: 15px;
  }

  & h1 span {
    color: $fc-grey-s;
  }

  & h2 {
    margin-top: 0.4em;
    font-size: 0.8rem;
    font-weight: 400;
    color: $fc-grey-n;
  }

  & hr {
    width: 100%;
    margin-top: 1.2em;
    border: 0.9px solid $fc-grey-s;
    opacity: 0.1;
  }

  & .card__stats {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  }

  & .card__stats div h3 {
    color: $fc-grey-b;
    font-size: 1rem;
  }

  & .card__stats div p {
    font-size: 0.6rem;
    letter-spacing: 1.5px;
  }
}

.attribution {
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  color: $fc-grey-b;
  display: none;
}

.attribution a {
  text-decoration: none;
  font-weight: bold;
}

/* 720 x 1280 (medium mobile) */
@media screen and (min-width: 720px) {  
  .attribution {
    display: block;
  }
}